<div class="container text-center"style="padding-top: 130px;">
  <div class="row">
    <div>
      <h1 style="margin-bottom: 40px;"><%= @post.interviewee %>님에 대한 인터뷰</h1>
      <p><img src="<%= @post.main_img.url %>" width="500px" height="500px"></p>
      <%= form_tag "/post/add_lib", method: "post" do %>
        <input type="hidden" name="post_id" value="<%= @post.id %>" >
        <br>
        <p><button class="btn btn-lg btn-success" href="#" role="button">라이브러리 등록</button></p>
      <% end %>
      <div style="margin-bottom:40px;">
    </div>
      <div class="panel panel-default">
        
        <div class="panel-heading">
          <h3 class="panel-title">인터뷰 내용</h3>
        </div>
        <div class="panel-body">
          <%= simple_format(@post.content) %>
        </div>
      </div>
    </div>
    
    <div class="col-lg-2 text-center label" style="position: fixed; top: 250px; left: 0px; background: #2c3e50; padding-top:20px; padding-bottom:20px">
      
      <p style="color:white;">글 : <%= @post.writer %></p>
      <hr>
      <p style="color:white;">사진 : <%= @post.photo_writer %></p>
      <hr>
      <p style="color:white;">작성일 : <%= @post.created_at.year %> / <%= @post.created_at.month %> / <%= @post.created_at.day %></p>
      
    </div>
    <% if user_signed_in? %>
      <% if current_user.id == 1 %>
        <%= link_to '삭제', "/post/destroy/#{@post.id}", class: 'btn btn-default' %>
        <%= link_to '수정', "/post/edit/#{@post.id}", class: 'btn btn-default' %>
      <% end %>
    <% end %>
    <%= link_to '뒤로가기', '/home/index', class: 'btn btn-default' %>
    <div style="margin-bottom:40px;">
    </div>
  </div>
</div>